#topmenu {
    background-color: lightblue;
    width: 100%;
}
table.main_menu {
    float: left;
    display: inline-table;
    width: 45%;
}
table.user_menu {
    float: right;
    display: inline-table;
}
table.set_main {
  float: left;
  width: 30%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 1%;
}
table.set_main tr > td {
    padding: 10px;
}
table.set_sec {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 2px solid grey;
    border-collapse: separate;
    box-shadow: 5px 5px 18px #888888;
    border-radius: 5px;
    border-spacing: 0px;
    padding-bottom: 4px;
}
table.set_sec input[type="image"] {
    width: 16px;
    height: 16px;
}
table.set_sec th {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    line-height: 20px;
    background-color: 330000;
    color: B8B8B8;
}
table.set_sec tr > td {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
}
table.set_sec th > form {
    display: block;
    padding: 0px;
    margin: 0px;
}
#set_loc {
    width: 60%;
}
#set_sw, #set_hw {
    width: 40%;
}
#login {
  overflow: hidden;
  display: block;
  border: 4px solid white;
  height: 10%;
  width: 15%;
  margin-left: 30%;
  margin-right: auto;
  border-radius: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 8%;
  padding-right: 8%;
  background: linear-gradient(45deg, #e4e3e5 0%,#84b2c9 61%,#cce2ff 100%);
}

#login label {
  color: white;
  font-weight: bold;
  font-size: 1.3em; 
}

#login input {

}



.login_container {
  height: 100%;
  width: 100%;
  background-color: gray;
  padding-top: 10%;
}
