; prevent webserver reads
; <?php exit; ?>
; CMDocument initialization file
;

[host]
hostname = yourhostname.yourdomain.com
documentroot = "/var/www/html/cmdocument/"
url = "http://www.yourhostname.yourdomain.com/"


[database]
dbname = cmdocument
user = cmdocument
pass = yourpassword

