; <?php exit; ?>; prevents webserver reads
; CMDocument initialization file
;

[host]
hostname = yourhostname.yourdomain.com
documentroot = "/var/www/html/cmdocument/"
url = "http://www.yourhostname.yourdomain.com/"


[database]
dbname = cmdocument
user = cmdocument
pass = yourpassword

[application]
admin_email = "foo@bar.com"
max_login_attempts = 3
msg_display_time = 1
